app.get('/login', (req, res) => {
res.render('login', {layout: 'main2'})
})

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/output.css">
    <script src="https://kit.fontawesome.com/56a474b8e5.js" crossorigin="anonymous"></script>
    <title>signin-signup</title>
</head>


/*this page should let the login page render without the nav bar included. I'm not sure if the head tags I included is necessary*/