
{{!-- I don't know how to properly link the stylesheet or javascript file --}}
 


    <div class="container">
        <div class="signin-signup">
            <!-- - Sign In - -->
            <form action="" class="sign-in-form" id="login-form">
                <h2 class="title">Sign in</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" id="user-login" placeholder="Username/email">
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" id="password-login" placeholder="Password">
                </div>
                <input type="submit" value="Login" class="btn">
                
                <p class="account-text">Don't have an account? <a href="#" id="sign-up-btn2">Sign up</a></p>
            </form>
            <!-- - Sign Up - -->
            <form action="" class="sign-up-form" id="signup-form">
                <h2 class="title">Sign up</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Username">
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="text" placeholder="Email">
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password">
                </div>
                <input type="submit" value="Sign Up" class="btn">
            
                <p class="account-text">Already have an account? <a href="#" id="sign-in-btn2">Sign in</a></p>
            </form>
        </div>
        <!-- - The sign in and sign up panels - -->
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Jet Set Member</h3>
                    <p>Welcome back! We missed you!</p>
                    <button class="btn" id="sign-in-btn">Sign in</button>
                    <div>
                        <img src="/public/Images/Adventure_is_out_there.svg" alt="image">
                    </div>
                </div>
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>New Jet Set Member</h3>
                    <p>Welcome! The adventure awaits!</p>
                    <button class="btn" id="sign-up-btn">Sign up</button>
                    <div>
                        <img src="/public/Images/Create_memories.svg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/js/login.js"></script>


  